<div class="img">
<h1>
    Bienvenido al foro de la discordia
</h1>

<div>
    <p>Unete a nuestra comunidad con el boton Sign Up</p>
<br>
    <button mat-raised-button color="primary" routerLink="/sign-up">
        Sign Up!
    </button>
</div>
</div>